.cover__button {
    width: 198px;
    height: 48px;
    border-radius: 4px;
    color: white;
    background-color: #0278fe;
    margin: 32px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.cover__button:hover {
    background-color: #0063D2;
}
