.intro__title {
    width: 1017px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    padding-bottom: 40px;
}

@media screen and (max-width: 1279px) {
    .intro__title {
        width: 720px;
        font-size: 54px;
        font-weight: 900;
        line-height: 58px;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 767px) {
    .intro__title {
        width: 288px;
        font-size: 32px;
        font-weight: 900;
        line-height: 35px;
        padding-bottom: 9px;
    }
}