.intro {
    width: 1017px;
    display: flex;
    flex-direction: column;
    padding-top: 92px;
}

@media screen and (max-width: 1279px) {
    .intro {
        width: 720px;
        padding-top: 55px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        width: 288px;
        padding-top: 44px;
    }
}