.place__website {
    width: 456px;
    flex-shrink: 0;
    padding-top: 107px;
    grid-area: artist;
}

@media screen and (max-width: 1279px) {
    .place__website {
        width: 295px;
        padding-top: 31px;
    }
}

@media screen and (max-width: 767px) {
    .place__website {
        width: 288px;
        padding-top: 0;
        margin: auto;
    }
}