.place__frame-paragraph {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    padding-top: 13px;
}


@media screen and (max-width: 767px) {
    .place__frame-paragraph {
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        padding-top: 16px;
    }
}