.header__title {
    width: 793px;
    height: 200px;
    color: #fff;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    padding-top: 91px;
}

@media screen and (max-width: 1279px) {
    .header__title {
        width: 720px;
        height: 200px;
        font-size: 96px;
        font-weight: 900;
        line-height: 100px;
    }
}

@media screen and (max-width: 767px) {
    .header__title {
        width: 288px;
        height: 88px;
        font-size: 40px;
        font-weight: 900;
        line-height: 44px;
        padding-top: 50px;
    }
}