.place__title-large {
    width: 600px;
}

@media screen and (max-width: 1279px) {
    .place__title-large {
        width: 400px;
    }
}

@media screen and (max-width: 767px) {
    .place__title-large {
        width: 288px;
    }
}